<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/ayushsingh7982" target="_blank"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.instagram.com/ayyushssingh/?next=%2F" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ayushsingh7982/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" target="_blank">Privacy</a>
            <a href="/terms" target="_blank">Terms</a>
        </div>
    </div>
</footer>